@import "tailwindcss";

.win-rate-bar-orange {
  background-color: transparent;
}
.win-rate-bar-orange::-webkit-progress-bar {
  background-color: transparent;
}
.win-rate-bar-orange::-webkit-progress-value {
  background-color: oklch(75% 0.183 55.934);
}
.win-rate-bar-orange::-moz-progress-bar {
  background-color: oklch(75% 0.183 55.934);
}
.win-rate-bar-white {
  background-color: transparent;
}
.win-rate-bar-white::-webkit-progress-bar {
  background-color: transparent;
}
.win-rate-bar-white::-webkit-progress-value {
  background-color: oklch(100% 0.00011 271.152);
}
.win-rate-bar-white::-moz-progress-bar {
  background-color: oklch(100% 0.00011 271.152);
}
.win-rate-bar-rounded::-webkit-progress-value {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}
.win-rate-bar-rounded::-moz-progress-bar {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}
